<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588328145245-hslkgfn5cln0siudfaonvo4d7ohkqgmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588328145245-hslkgfn5cln0siudfaonvo4d7ohkqgmj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588328145245-4md4l01q3e5qna6cb2h97hbqle3hn9k8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBweeFpLQxSyB7tIuJPA-cVa6p0pywYFPU</string>
	<key>GCM_SENDER_ID</key>
	<string>588328145245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.vatten</string>
	<key>PROJECT_ID</key>
	<string>vatten-9c2d7</string>
	<key>STORAGE_BUCKET</key>
	<string>vatten-9c2d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588328145245:ios:a4beee57eacb10c5d1d8b4</string>
</dict>
</plist>